{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "jsx-control-statements"
  ],
  "env": {
    "production": {
      "only": [
        "app"
      ],
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "displayName": false
          }
        ],
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    },
    "development": {
      "plugins": [
        "styled-components"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
